body {
	font-family: 'Arial', 'Roboto', 'Comic sans', sans-serif;
	margin: 0;
	padding: 0;
    background-image: url('bg_design.gif');
	background-attachment: fixed;
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    background-color: teal;
    font-family: 'Bahnschrift', sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

#section1 {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 15px;
}

#section1 a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	padding: 10px 15px;
	transition: background-color 0.2s, color 0.2s;
}

#section1 a:hover {
    background-color: white;
    color: #333;
	padding: 15px 15px;
}
	
#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0 70px;
    background-image: url('images/section_2_bg.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section2 h1 {
    font-family: 'Bahnschrift', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

#profile_image {
	margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
	transition: transform 0.3s;
}

#profile_image:hover {
    transform: scale(1.1);
}

#profile_text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#section3,
#section4,
#section5,
#section6,
#section7,
#section9,
#countries_button {
    padding: 10px;
    padding-left: 30px;
    margin: 0 70px;
    background-color: #D6EAF8;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section3 h2, 
#section4 h2, 
#section5 h2, 
#section6 h2,
#section7 h2,
#team_comments h3 {
    font-family: 'Bahnschrift', sans-serif;
    margin-bottom: 20px;
}

#section1,
#section2,
#section3, 
#section4, 
#section5,
#section6,
#section7,
#section9,
#countries_button {
    margin-bottom: 70px;
}

#section9 {
    padding: 10px;
    margin: 0 70px 70px;
    background-color: #D6EAF8;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#form_container {
    margin-bottom: 20px;
}

#form_container label {
    display: block;
    margin-bottom: 5px;
}

.input_field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#form_container button {
    background-color: #86C9CA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form_container button:hover {
    background-color: #76999A;
}

.comment {
    margin-bottom: 10px;
}

#section8 {
    padding: 10px;
    margin: 0 70px 70px;
    background-color: #D6EAF8;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section8 h2 {
    font-family: 'Bahnschrift', sans-serif;
    margin-bottom: 20px;
    padding-left: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
}

.image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px;
	transition: transform 0.3s;
}

.image-container img:hover {
    transform: scale(1.1);
}

#section9 button {
    background-color: #86C9CA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#section9 button:hover {
    background-color: #76999A;
}

#countries_button {
    background-color: #86C9CA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#countries_button:hover {
    background-color: #76999A;
}

#footer {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #section2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #profile_image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .input_field {
        width: calc(100% - 16px);
    }
}